{% load static %}
<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/header.css' %}" type="text/css" media="all"/>
    
</head>
<body>

    
     <header>
        <div class="container">
            <div class="header-content">
                <p ><a href="#" class="header-content-logo">PyCodeX</a></p>
                <div id="menu-bars">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <nav class="header-content-navbar">
                    <a href="#" class="header-content-navbar-rout">Home</a>
                    <a href="#" class="header-content-navbar-rout">Projects</a>
                    <a href="#" class="header-content-navbar-rout">Events</a>
                    <a href="#" class="header-content-navbar-rout">Courses</a>
                    <a href="#" class="header-content-navbar-rout">About us</a>
                    <a href="#" class="header-content-navbar-rout">Contact</a>
                </nav>
            </div>
        </div>
    </header>

    <main class="py-codex1">
        <div class="container">
              <div class="py-codex1-content">
                <h1 class="py-codex1-content-text">PyCodeX</h1>
                <p class="py-codex1-content-description">
                    Unleashing the Power of 
                        <span class="py-codex1-content-description-span">AI and Python</span>
                    to 
                        <br>
                    Transform the Digital Landscape </p>
                <button class="btn">get started</button>
            </div>
            <div class="py-codex1-content-background">
                <div class="py-codex1-content-background1"></div>
                <div class="py-codex1-content-background2"></div>
            </div>
    </div>
        <div class="py-codex1-content2">
            <p class="py-codex1-content2-text">Embrace the Future:</p>
            <span class="py-codex1-content2-text2">
                AI and Python-Powered Web
                    <br>
                Development and Robotics
            </span>
        </div>
    </main>
    
    <section class="btn-section">
        <div class="container">
            <div class="btn-section-content">
                <p class="btn-section-content-text">
                    In 
                    <span class="btn-section-content-text-gradient">
                        PyCodeX
                    </span> 
                    we offer...
                </p>
                <div class="btn-section-content-btns">
                    <button class="btn-section-content-btns-btn2">Web</button>
                    <button class="btn-section-content-btns-btn2">Mobile</button>
                    <button class="btn-section-content-btns-btn2">Gaming</button>
                    <button class="btn-section-content-btns-btn2">Robotics</button>
                    <button class="btn-section-content-btns-btn2">Education</button>
                    <button class="btn-section-content-btns-btn2">Machine Learning</button>
                </div>
            </div>
        </div>
    </section>

     <section class="py-codex2">
        <div class="container">
            <div class="py-codex2-flex">
            <img class="py-codex2-flex-img" src="{% static './images/triagle_two.png' %}" alt="">
            <div class="py-codex2-content">
                
                <h2 class="py-codex2-content-heading">PyCodex</h2>
                <p class="py-codex2-content-text">
                    Discover the Possibilities: AI and Python
                        <br> 
                    Solutions for the Modern World
                </p>

                <button class="btn">Get started</button>
            </div>
        </div>
    </div>
    </section>

   <footer>
        <div class="container">
            <div class="footer-content">
                <nav class="footer-content-navbar">
                    <p class="footer-contnet-navbar-text">PyCodeX</p>
                    <a href="#" class="footer-content-navbar-rout">Home</a> 
                    <a href="#" class="footer-content-navbar-rout">Project</a> 
                    <a href="#" class="footer-content-navbar-rout">About us</a> 
                    <a href="#" class="footer-content-navbar-rout">Contact</a> 
                </nav>

                <nav class="footer-content-navbar">
                    <p class="footer-contnet-navbar-text">Services</p>
                    <a href="#" class="footer-content-navbar-rout">Robotics</a> 
                    <a href="#" class="footer-content-navbar-rout">Web Desing</a> 
                    <a href="#" class="footer-content-navbar-rout">Machine Learning</a> 
                </nav>

                <nav class="footer-content-navbar">
                    <p class="footer-contnet-navbar-text">Help</p>
                    <a href="#" class="footer-content-navbar-rout">Getting started</a>
                    <a href="#" class="footer-content-navbar-rout">Network status</a>
                    <a href="#" class="footer-content-navbar-rout">FAQ</a>
                    <a href="#" class="footer-content-navbar-rout">Referal program</a>
                </nav>

                <div class="footer-content-subscribe">
                    <h3 class="footer-contnet-navbar-text">Subscribe</h3>
                    <input 
                        class="footer-content-subscibe-input" 
                        type="text" 
                        placeholder="Your email address"
                    >
                    <button type="button" class="footer-btn">Send</button>
                    <div class="footer-content-subscibe-icon">
                        <img src="{% static './images/google.svg' %}" alt="">
                        <img src="{% static './images/facebook.svg' %}" alt="">
                        <img src="{% static './images/instagram.svg' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <span class="footer-copyright-text">
                    &copy; 2023 PyCodeX LTD. All Rights Reserved
                </span>
            </div>
        </div>
    </footer>


    <script src="{% static 'script/script.js' %}"></script>

</body>
</html>