@font-face {
    font-family: 'Rubik Glitch';
    src: url('RubikGlitch-Regular.woff2') format('woff2'),
        url('RubikGlitch-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

