{% extends 'layout/layout.html' %}
{% load static %}

    {% block title %}Home{% endblock %}

    {% block header %}
        <header>
            <div class="container">
                <div class="header-content">
                    <p><a href="home" class="header-content-logo">PyCodeX</a></p>
                    <div id="menu-bars">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                    <nav class="header-content-navbar">
                        {% for i in menus.menu %}
                            <a href="{{i.href}}" class="header-content-navbar-rout">{{i.name}}</a>
                        {% endfor %}
                    </nav>
                </div>
            </div>
        </header>
    {% endblock %}
    
    {% block main %}
        <main class="py-codex1">
            <div class="container">
                <div class="py-codex1-content">
                    <h1 class="py-codex1-content-heading">PyCodeX</h1>
                    <p class="py-codex1-content-description">
                        Unleashing the Power of
                        <span class="py-codex1-content-description-span">
                            AI and Python
                        </span>
                        <br />
                        to Transform the Digital Landscape
                    </p>
                    <button class="btn">get started</button>
                </div>
            </div>
        </main>
    {% endblock %}

    {% block project %}
        <section class="project">
            <div class="container">
                <div class="project-content">
                    <h2 class="project-content-heading">Project</h2>
                    <div class="project-content-projects">
                        <a href="#" class="project-content-projects-mini">
                            <span>Web</span>
                            <img
                                src="{% static './images/web.png' %}"
                                alt="web"
                            />
                        </a>
                        <a href="#" class="project-content-projects-mini">
                            <span>Mobile</span>
                            <img
                                src="{% static './images/mobile.png' %}"
                                alt=""
                            />
                        </a>
                        <a href="#" class="project-content-projects-mini">
                            <span>Gaming</span>
                            <img
                                src="{% static './images/game.png' %}"
                                alt=""
                            />
                        </a>
                        <a href="#" class="project-content-projects-mini">
                            <span>Robotics</span>
                            <img
                                src="{% static './images/robotics.png' %}"
                                alt=""
                            />
                        </a>
                        <a href="#" class="project-content-projects-mini">
                            <span>Education</span>
                            <img
                                src="{% static './images/education.png' %}"
                                alt=""
                            />
                        </a>
                        <a href="#" class="project-content-projects-mini">
                            <span>Machine Learning</span>
                            <img src="{% static './images/ml.png' %}" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}

    {% block pycodex %}
        <section class="pycodex">
            <div class="container">
                <div class="pycodex-con">
                    <div class="pycodex-content">
                        <h3 class="pycodex-content-heading">PyCodeX</h3>
                        <p class="pycodex-content-description">
                            Discover the Possibilities: AI and Python
                            <br />
                            Solutions for the Modern World
                        </p>
                        <div class="btn-div">
                            <button class="btn">get started</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}

    {% block caruel %}

    <div class="py_codex_Team_slider">
        <h1 class="py_codex_Team_h1">Our Team</h1>
        <div class="py_codex_Team_flex">
          <div class="block">
            <img src="{% static './images/team/Qristina.png' %}" alt="Py_Image 1">
            <h2 class="py_codex_Team_Name">Christina Martirosyan</h2>
            <p class="py_codex_Team_Developer">CEO</p>
          </div>
          <div class="block">
            <img src="{% static './images/team/Garegin.jpg' %}" alt="Py_Image 1">
            <h2 class="py_codex_Team_Name">Garegin Sultanyan</h2>
            <p class="py_codex_Team_Developer">Software Engineer</p>
          </div>
          <div class="block">
            <img src="{% static './images/team/Spartak.jpg' %}" alt="Py_Image">
            <h2 class="py_codex_Team_Name">Spartan Sargsyan</h2>
            <p class="py_codex_Team_Developer">Software Engineer</p>
          </div>
          <div class="block">
            <img src="{% static './images/team/Misho.jpg' %}" alt="Py_Image 1">
            <h2 class="py_codex_Team_Name">Misha Vardanyan</h2>
            <p class="py_codex_Team_Developer">Software Engineer</p>
          </div>
          <div class="block">
            <img src="{% static './images/team/Rafael.jpg' %}" alt="Py_Image 1">
            <h2 class="py_codex_Team_Name">Rafael Eghoyan</h2>
            <p class="py_codex_Team_Developer">Software Engineer</p>
          </div>
          <div class="block">
            <img src="{% static './images/team/Tigran.jpg' %}" alt="Py_Image">
            <h2 class="py_codex_Team_Name">Tigran Arshakyan</h2>
            <p class="py_codex_Team_Developer">Software Engineer</p>
          </div>
        </div>
      </div>

    {% endblock %}

    {% block footer %}
        <footer>
            <div class="container">
                <div class="footer-content">
                    <nav class="footer-content-navbar">
                        <p class="footer-contnet-navbar-text">PyCodeX</p>
                        {% for item in menus.footerMenu.menuOne %}
                        <a href="#" class="footer-content-navbar-rout"
                            >{{item}}</a
                        >
                        {% endfor %}
                    </nav>

                    <nav class="footer-content-navbar">
                        <p class="footer-contnet-navbar-text">Services</p>
                        {% for item in menus.footerMenu.menuTwo %}
                        <a href="#" class="footer-content-navbar-rout"
                            >{{item}}</a
                        >
                        {% endfor %}
                    </nav>
                    <nav class="footer-content-navbar">
                        <p class="footer-contnet-navbar-text">Help</p>
                        {% for item in menus.footerMenu.menuThree %}
                        <a href="#" class="footer-content-navbar-rout"
                            >{{item}}</a
                        >
                        {% endfor %}
                    </nav>

                    <div class="footer-content-subscribe">
                        <h3 class="footer-contnet-navbar-text">Subscribe</h3>
                        <input
                            class="footer-content-subscibe-input"
                            type="text"
                            placeholder="Your email address"
                        />
                        <button type="button" class="footer-btn">Send</button>
                        <div class="footer-content-subscibe-icon">
                            <img
                                src="{% static './images/icon/google.svg' %}"
                                alt=""
                            />
                            <img
                                src="{% static './images/icon/facebook.svg' %}"
                                alt=""
                            />
                            <img
                                src="{% static './images/icon/instagram.svg' %}"
                                alt=""
                            />
                        </div>
                    </div>
                </div>

                <div class="footer-copyright">
                    <span class="footer-copyright-text">
                        &copy; 2023 PyCodeX LTD. All Rights Reserved
                    </span>
                </div>
            </div>
        </footer>
    {% endblock %}