@import url("../fonts/Lato/stylesheet.css");
@import url("../fonts/RubikGlitch/stylesheet.css");
@import url("../fonts/Tomorrow/stylesheet.css");

/* reset */

:root {
    --blue: #353bd2;
    --green: #10e371;
    --green2: #0c4426;
    --black: #0a0f0d;
    --white: #ffffff;
    --white2: rgba(255, 255, 255, 0.7);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    outline: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
}
body{
    background: var(--black);
}
.container {
    max-width: 1200px;
    margin: auto;
}
.btn {
    background: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    font-family: "Tomorrow";
    font-size: 40px;
    text-transform: uppercase;
    padding: 7px;
    cursor: pointer;
}

/* header */

#menu-bars {
    display: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
    background: rgba(10, 17, 20, 0.87);
    backdrop-filter: blur(1px);
    z-index: 1000;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-content-logo {
    font-size: 40px;
    line-height: 47.4px;
    letter-spacing: 1.5%;
    font-family: "Rubik Glitch";
    color: var(--white);
    font-weight: 400;
}
.header-content-navbar-rout {
    color: var(--white);
    font-size: 20px;
    line-height: 24px;
    padding: 0px 10px;
    font-family: "Tomorrow";
}
.header-content-navbar-rout:hover {
    border-radius: 5px;
    background-image: linear-gradient(to right, var(--blue), var(--green));
    padding: 5px 10px;
}
.header-content-navbar-rout:not(:last-of-type) {
    margin-right: 50px;
}


/* py-codex1 */

.py-codex1{
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: 87.4px;
}
.py-codex1-content{
    background: url(../images/headmatrix.png),url(../images/triagle_one.png);
    background-repeat: no-repeat;
    height: 70vh;
    background-size: 45%, 40%;
    background-position-x: 700px, 700px;
    background-position-y: -20px, 0px;
}
.py-codex1-content-text{
    color: var(--white);
    font-family: 'Rubik Glitch';
    font-size: 160px;
    line-height: 189.6px;
    letter-spacing: 2.4px;
    padding-top: 30px;
}
.py-codex1-content-description{
    color: var(--white);
    font-family: Tomorrow;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    padding: 30px 0 30px;
}

.py-codex1-content-description-span{
    background: linear-gradient(to right ,var(--blue), var(--green));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.py-codex1-content2{
    background: rgba(16, 227, 113, 0.04);
    backdrop-filter: blur(1px);
    border: 1px solid var(--green);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1400px;
    margin: auto;
    /* margin-top: 100px; */
}

.py-codex1-content2-text{
    font-family: 'Tomorrow';
    font-size: 70px;
    font-weight: 600;
    color: var(--white);
    line-height: 96px;
}

.py-codex1-content2-text2{
    color: var(--white);
    font-family: 'Tomorrow';
    font-size: 32px;
    font-weight: 300;
    line-height: 38.4px;
}


/* button section */
.btn-section {
    background: var(--black);
    background-image: url(../images/btn-background.png);
    background-size: 102%;
    background-repeat: no-repeat;
    height: 75vh;
}
.btn-section-content-text {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 40px;
    font-family: "Tomorrow";
    color: var(--white);
    line-height: 48px;
}
.btn-section-content-text-gradient {
    background: linear-gradient(to right, var(--blue), var(--green));
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: 700;
    color: transparent;
}
.btn-section-content-btns {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.btn-section-content-btns-btn2 {
    width: 32%;
    background: rgba(54, 59, 211, 0.2);
    backdrop-filter: blur(1px);
    border: 1px solid var(--blue);
    padding: 15px 0;
    color: var(--white);
    font-family: "Tomorrow";
    font-size: 40px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.btn-section-content-btns-btn2:hover{
    backdrop-filter: blur(10px);
}

/* py-codex2 */

.py-codex2{
    background-color: var(--black);
    padding-bottom: 20px;
}
.py-codex2-flex{
    display: flex;
    justify-content: space-between;
}
.py-codex2-flex-img{
    width: 400px;
    height: 400px;
}
.py-codex2-content-heading{
    font-family: "Rubik Glitch";
    font-size: 80px;
    line-height: 94.8px;
    color: var(--white);
}
.py-codex2-content-text{
    color: var(--white);
    font-size: 40px;
    font-family: 'Tomorrow';
    line-height: 48px;
    padding: 35px 0;
}

/* footer */

footer {
    background: var(--black);
}
.footer-content {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
}
.footer-content-navbar {
    display: flex;
    align-self: baseline;
    flex-direction: column;
}
.footer-contnet-navbar-text {
    font-size: 24px;
    line-height: 29.52px;
    letter-spacing: 1%;
    font-family: "Lato";
    font-weight: 700;
    color: var(--white);
    margin-bottom: 45px;
}
.footer-content-navbar-rout {
    font-family: "Lato";
    line-height: 19.68px;
    letter-spacing: 1%;
    color: var(--white2);
}
.footer-content-navbar-rout:not(:last-child) {
    padding-bottom: 5px;
}
.footer-content-subscibe-input {
    border: 1px solid var(--white);
    padding: 10px;
    width: 365px;
    border-radius: 5px;
    background: var(--green2);
    color: var(--white2);
}
.footer-content-subscibe-input::placeholder {
    color: var(--white2);
}
.footer-btn {
    background: var(--green);
    color: var(--black);
    padding: 9.7px 25px;
    border-radius: 5px;
    font-family: "Lato";
    font-weight: 600;
    line-height: 19.68px;
    letter-spacing: 1%;
}
.footer-content-subscibe-icon {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
.footer-content-subscibe-icon img{
    cursor: pointer;
}
.footer-copyright {
    padding-bottom: 25px;
}
.footer-copyright-text {
    color: var(--white);
    font-family: "Lato";
    line-height: 19.68px;
    letter-spacing: 1%;
}

/* media request */

/* header,container,btn-section,py-codex2 */

@media screen and (max-width: 1200px) {
    .container {
        padding: 0 3%;
    }
    .header-content-navbar-rout:not(:last-of-type) {
        margin-right: 40px;
    }
    .btn-section-content-btns-btn2{
        font-size: 35px;
    }
    .py-codex2-content-text{
        font-size: 30px;
    }
}

/* only header */
@media screen and (max-width: 1080px) {
    .header-content-navbar-rout:not(:last-of-type) {
        margin-right: 20px;
    }
}

/* only py-codex2 */
@media screen and (max-width:1033px){
    .py-codex2-content-text{
        font-size: 28px;
    }
}

/* only btn-section */
@media screen and (max-width:1005px) {
    .btn-section-content-btns-btn2{
        font-size: 30px;
    }
}

/* header, btn-section */
@media screen and (max-width: 955px) {
    .header-content-navbar-rout {
        font-size: 17px;
    }
    .btn-section{
        background-position-y: 30px;
    }
}

/*only py-codex2 */
@media screen and (max-width: 931px) {
    .py-codex2-flex{
        background-image: url(./images/triagle_two.png);
        background-repeat: no-repeat;
        height: 100vh;
        background-size: cover;
        background-position-y: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .py-codex2-flex-img{
        display: none;
    }
}
/* header btn-section*/
@media screen and (max-width: 895px) {
    .header-content-navbar-rout:not(:last-of-type) {
        margin-right: 10px;
    }
    .btn-section{
        background-position-y: 50px;
    }
}

/* only btn-section */

@media screen and (max-width:862px) {
    
    .btn-section-content-text{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .btn-section-content-btns-btn2{
        font-size: 25px;
    }
}

/* only footer */
@media screen and (max-width: 836px) {
    .footer-contnet-navbar-text:last-of-type {
        padding-top: 25px;
    }
}

/* header, btn-section*/
@media screen and (max-width: 800px) {
    .header-content-navbar {
        display: none;
    }
    #menu-bars {
        display: initial;
        cursor: pointer;
    }
    .fa-bars {
        font-size: 40px;
        color: var(--white);
    }
    .header-content-navbar.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 87px;
        background: rgba(0, 0, 0, 0.87);
        padding: 35px;
    }
    .header-content-navbar-rout {
        margin-right: 0 !important;
        margin-bottom: 10px;
        font-size: 22px;
    }
    .btn-section{
        background-position-y: 80px;
    }
}

/* btn-section */
@media screen and (max-width: 532px) {
    .btn-section{
        background-position-y: 100px;
    }
    .btn-section-content-btns{
        justify-content: center;
    }
}

/* footer, btn-section*/
@media screen and (max-width: 480px) {
    .btn-section{
        background-position-y: 120px;
    }
    .btn-section-content-text{
        font-size: 30px;
    }
    .footer-content-subscibe-input {
        display: block;
        width: 300px;
        margin-bottom: 10px;
    }
}

/* only py-codex2 */
@media screen and (max-width:440px) {
    .py-codex2-flex{
        background-position-x: 50%;
    }
    .py-codex2-content-text{
        font-size: 25px;
    }
}
/* btn-section, py-codex2, btn */
@media screen and (max-width:405px) {
    .btn-section-content-btns-btn2{
        font-size: 20px;
    }
    .py-codex2-content-heading{
        font-size: 70px;
    }
    .btn{
        font-size: 30px;
    }
}

/* header, btn-section */
@media screen and (max-width: 350px) {
    .fa-bars {
        font-size: 30px;
    }
    .header-content-logo {
        font-size: 35px;
    }
    .btn-section-content-text{
       font-size: 25px;
    }
}

/* footer, btn-section, py-codex2 */
@media screen and (max-width: 330px) {
    .btn-section-content-btns-btn2{
        font-size: 15px;
     }
     .py-codex2-content-heading{
        font-size: 60px;
    }
    .footer-content-subscibe-input {
        width: 280px;
    }
}
